    <main>
      <div class="px-4 py-5 my-5 text-center">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ERROR</h1>
          <div class="col-lg-6 mx-auto alert alert-danger">
            <% if @error == 'ACCESS_DENIED' %>
            <p class="lead mb-4">You must authorize the integration to continue.</p>
            <% else %>
            <p class="lead mb-4"><%= @error %></p>
            <% end %>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <a href="/" class="btn btn-danger btn-lg px-4 me-md-2">Back</a>
            </div>
          </div>
        </div>
      </div>
    </main>
